@font-face {
  font-family: "PT Sans"; /* здесь никогда не нужно писать sans-serif*/
  font-style: normal;
  font-weight: 400;
  src: url("./../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  background-color:#F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input:disabled {
background: #e5e5e5;
cursor: default;
}

/* BUTTON*/

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFF;
  border: 0;
  padding: 8px 26px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
}

.button:active {
  color: #FFFFFF4D;
  background-color: #756157;
}

.button-big {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.button-blue {
  font-family: 'PT Sans', 'Arial', sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 20px;
text-align: center;
background-color: #82B3D3;
padding: 8px 20px;
border: 0;
cursor: pointer;
}

.button-blue:hover {
  background-color: #68A2CA;

}

.button-blue:focus {
  background-color: #68A2CA;
}

.button-blue:active {
  color: #FFFFFF4D;
  background-color: #82B3D3;
}

.button-green {
  font-family: 'PT Sans', 'Arial', sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 20px;
text-align: center;
background-color: #7DB54F;
padding: 8px 20px;
cursor: pointer;
}

.button-green:hover {
  background-color: #6C9E42;

}

.button-green:focus {
  background-color: #6C9E42;
}

.button-green:active {
  color: #FFFFFF4D;
  background-color: #7DB54F;
}

.button-submit {
  font-family: 'PT Sans', 'Arial', sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0;
text-align: center;
  width: 191px;
  height: 36px;
  padding: 8px 50px;
  border-radius: 4px;
  background-color: #82B3D3;
  gap: 10px;
  cursor: pointer;
}

.button-reset {
font-family: 'PT Sans', 'Arial', sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0;
text-align: center;
color:#FFF;
background-color: transparent;
width: 191px;
height: 36px;
padding: 8px 50px;
border-radius: 4px;
gap: 10px;
cursor: pointer;
}

.button-reset:hover {
  color:#FFF;
  opacity: 60%;
}

.button-reset:focus {
  color: #FFF;
  border: 3px solid #83B3D3;
}

.button-reset:active {
  color: #FFFFFF4D;
}

.button-reset:disabled {
  color: #FFF;
  opacity: 10%;
}

.button:disabled,
.button-blue:disabled,
.button-green:disabled,
.button-submit:disabled {
background: #e5e5e5;
cursor: default;
}

.button-icon {
  color: #000000;
  background-color: #FFF;
}

/*ПЭЙДЖ_КОНТЕЙНЕР*/

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* ШАПКА СТРАНИЦЫ */
.page-header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 1060px;
  height: 64px;
  padding: 0 70px;
}
/* ЛОГО */

.logo {
  display:block;
  margin: 0 auto;
  margin-right: 30px;
}

/* ! НАВИГАЦИЯ 1*/

.navigation {
  display: flex;
  justify-content: space-between;
  width: 892px;
  min-height: 64px;
  margin: 0;
  padding: 0;
}

.navigation-list{
  display: flex;
  min-width: 339px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
}
.navigation-list a {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: inherit;
  text-decoration: none;
}

.navigation-item {   /* ТРУДНО ПОНЯТЬ КАК ВЗАИМОДЕЙСТВУЮТ ВЛОЖЕННЫЕ ДРУГ В ДРУГА РАЗНЫЕ ТИПЫ ДИСПЛЕЕВ*/
  display: inline-block;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  content: "";
  right: 16px;
  left: 16px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
}


/* ! НАВИГАЦИЯ 2*/

.navigation-user-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 268px;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  text-decoration: none;
  list-style-type: none;
}

.navigation-user-wrapper { /* ! ОБЕРТКУ СДЕЛАЛ, ЧТОБЫ ОТДЕЛИТЬ ОТ КНОПКИ ВНТУРИ СПИСКА*/
  position: relative;
  display: block;
}

/*.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}*/

.navigation-icon-search {
  position: absolute;
  top: 0;
  right: -50px;
  bottom: 0;
  left: -8px;
  margin: auto;
}

.navigation-icon-favorite {
  position: absolute;
  top: 0;
  right: 45px;
  bottom: 0;
  left: 1px;
  margin: auto;
}

.notification-badge {
position: absolute;
top: -20px;
right: -31px;
width: 20px;
height: 20px;
border-radius: 10px;
font-size: 10px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0;
text-align: center;
text-decoration: none;
color:#FFF;
background-color: #7DB54F;
}

.navigation-button {
  width: 110px; /*! задал размер кнопки не по макету ради совпадения */
}

/*! MAIN !*/

.main-container { /* ДЛЯ СЕБЯ: этот контейнер отвечает за стики-футер на странице (прибивает его к низу страницы, поскольку числовое значение flex-grow выше нуля)*/
  flex-grow: 1;
  background-color: #ffffff;
}

.main-inner {
  background-color: #ffffff;
}

/*! HERO !*/

.hero-top {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  min-height: 485px;
  margin: 0 auto;
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #3F5E72;
  margin-bottom: 69px;
}

.welcome-img {
margin: 51px 371px 25px;
}

.hero-divider {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.hero-divider img {
  display: block;
  margin: auto;
}

.hero-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  margin-bottom: 21px;
}

.hero-bottom-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 25px;
}

.cool-advantages {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
  color: #333333;
  margin-top: 0;
  margin-bottom: 69px;
  }

/*! ПРЕИМУЩЕСТВА !*/

.advantages {
margin-bottom: 64px;
}

/* ! РЯДЫ */

.row {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3);
  min-height: 385px;
  padding: 40px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  box-sizing: border-box;
}

.advantages-item-1,
.advantages-item-5 {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-item-2,
.advantages-item-4 {
  color: #000000;
  background-color: #83B3D31F;
}

.advantages-item-3 {
  color: #000000;
  background-color: #83B3D333;
}

.true-town-image {
width: calc(100% / 3 * 2);
}

.true-town-image img {
  display: block;
  width: 100%;
}

.devil-bridge-image {
  width: calc(100% / 3 * 2);
}

.devil-bridge-image img {
  display: block;
  width: 100%;
}

.advantages-title {
  position: relative;
font-size: 24px;
font-weight: 700;
line-height: 28px;
text-align: center;
text-transform: uppercase;
margin: 0 auto 30px;
padding: 0 0 30px;
}

.advantages-title:after {
  position: absolute;
  content: "";
  right: 85px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 60px;
  height: 2px;
  background-color: #0000004D;
}

.advantages-title-1:after {
  background-color: #FFFFFF4D;
}

.advantages-title-5:after {
  background-color: #FFFFFF4D;
}

.advantages-description {
font-size: 18px;
font-weight: 400;
line-height: 21px;
color: #333333;
margin: 0 auto;
}

.advantages-description-1,
.advantages-description-5 {
  color: #FFFFFF;
}

/* ! "Рекомендации" */

.rest-in-sedona {
  width: 1200px;
  min-height: auto;
  margin-bottom: 64px;
}

.recommendations-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0;
  text-align: center;
  color:#000000;
  text-transform: uppercase;
  margin: 0 347.5px 20px;
}

.recommendations-service {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
    text-align: center;
    color: #333333;
  margin: auto;
  margin-bottom: 64px;
}

.recommendations-list {
  display: flex;
  flex-wrap: wrap;
}

.recommendations-item {
  width: 400px;
  min-height: 385px;
}

.recommendations-item-1,
.recommendations-item-3 {
  background-color: #83B3D31F;
}

.recommendations-item-2 {
  background-color: #FFF;
}

.recommendations-title {
font-size: 24px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0;
text-align: center;
color: #000000;
text-transform: uppercase;
background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 81px;
margin: auto 85px 30px;
padding-top:183px;
}

.recommendations-title-1 {
  background-image: url("../images/icons/recomm-hosting.svg");
}

.recommendations-title-2 {
  background-image: url("../images/icons/recomm-meal.svg");

}
.recommendations-title-3 {
  background-image: url("../images/icons/recomm-souveniers.svg")
}

.recommendations-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
  text-align: center;
  color: #333333;
}

.housing {
  padding-top: 96px;
  padding-bottom: 96px;;
}

.housing-content {
  width: 592px;
  text-align: center;
  height: 214px;
  margin: 0 auto;
}

.housing-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
}

.housing-data {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: #fff;
  margin:0;
  margin-bottom: 54px;
  }

.button-search.button-big {
  font-family: 'PT Sans', 'Arial', sans-serif;
font-size: 20px;
font-weight: 700;
line-height: 36px;
text-align: center;
padding: 8px 50px;
  border-radius: 4px;
  margin:auto;

}
/*БЛОК РАССЫЛКА*/

.newsletter-index {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 414.86px;
  text-align: center;
  color: #FFFFFF;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #3F5E72;
}

.newsletter-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  min-height: 414.86px;
  background-color: #FFF;
}

.newsletter-subscribe-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 684px;
  min-height: 214.86px;
  margin: auto;
}

.newsletter-subscribe {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  width: 404px;
  min-height: 36.35px;
  margin: 0 auto 20px;
  }

.newsletter-quality {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 54px;
  }

.newsletter-form {
  display: flex;
  width: 684px;
}

.newsletter-form label {
  flex-grow: 1;
}

.newsletter-field {
font-family: 'PT Sans', 'Arial', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 24px;
width: 100%;
background-color: #F2F2F2;
border: none;
border-radius: 4px 0 0 4px;
padding: 14px 20px;
box-sizing: border-box;
}

.newsletter-field:hover {
  background-color: #E6E6E6;
  outline: 3px transparent #F2F2F2;
}

.newsletter-field:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.newsletter-field:active {
  background-color: #F2F2F2;
  outline: 2px solid #000000;
}

.newsletter-button {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  border: 0;
  flex-shrink: 0;
  border-radius: 0 4px 4px 0;
  background-color: #82B3D3;
  padding: 8px 50px;
  cursor: pointer;
  }

.newsletter-button:hover {
  background-color: #68A2CA;

  }

  .newsletter-button:focus {
    background-color: #68A2CA;
    }

  .newsletter-button:active {
    color: #FFFFFF4D;
    background-color: #82B3D3;
    }

/* ! МОДАЛЬНОЕ ОКНО */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #F2F2F2CC;
}

.modal-containter-close {
  display: none;
}

.modal {
  width: 717px;
  height: 576px;
  margin: auto;
  background-color:#FFFFFF;
  border-radius: 30px;
}

.modal-content {
position: relative;
width: 577px;
height: auto;
margin: 64px 70px;
}

.modal-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  width: 413px;
  height: 36px;
  margin-top: 0;
  margin-bottom: 64px;
  }

  .modal-close-button {
  position: absolute;
  width: 52px;
  height: 52px;
  top: 0;
  right: -20px;
  background-color: #F2F2F2;
  background-image: url("../images/icons/modal-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  }

  .modal-close-button:hover {
background-color: #E6E6E6;
  }

  .modal-close-button:focus {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
  }

  .modal-close-button:active {
background-color: #E6E6E6;
opacity: 0.3;
outline: none;
  }

.search-form {
width: 577px;
height: auto;
margin: 0;
}

.field-group {
display: flex;
justify-content: space-between;
align-items: center;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0;
text-align: left;
color: #000000;
margin-top: 0;
margin-bottom: 48px;
}

.search-form-date-wrapper {
  position: relative;

}

.search-form-date-icon {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: #F2F2F2 url("../images/icons/date-icon.svg") center no-repeat;
  pointer-events: none;
}

.search-form-field {
  font-family: 'PT Sans', 'Arial', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0;
text-align: left;
color: #000000;
width: 443px;
height: 51px;
border-radius: 4px;
border-style: none;
background: #f2f2f2;
padding: 12px 20px;
box-sizing: border-box;
cursor: pointer;
outline: 3px transparent #F2F2F2;
}

.search-form-field:hover {
  background-color: #E6E6E6;
  outline: 3px transparent #F2F2F2;
}

.search-form-field:hover + .search-form-date-icon {
  background-color: #E6E6E6;
}

.search-form-field:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.search-form-field:focus + .search-form-date-icon {
  background-color: #E6E6E6;
}

.search-form-field:active {
  background-color: #F2F2F2;
  outline: 2px solid #000000;
}

.search-form-field:active + .search-form-date-icon {
  background-color: #F2F2F2;
}

.number-form {
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
}

.number-form-field {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0;
text-align: center;
color: #000000;
  width: 113px;
  height: 51px;
border-radius: 4px;
border-style: none;
padding: 14px 10px;
box-sizing: border-box;
background-color: #F2F2F2;
outline: 3px transparent #F2F2F2;
}

.number-form-field:hover {
  opacity: 0,6;
  background-color: #E6E6E6;
  outline: 3px transparent #E6E6E6;
}

.number-form-field:focus {
  opacity: 0,6;
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3
}

.number-form-field:active {
  color: #F2F2F2;
  outline: 2px solid #000000
}

.mature,
.kids {
  display: flex;
  align-items: center;
  margin-right: 46px;
}

.number-form-count-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 48px;
  border-radius: 4px;
  background: #f2f2f2;
}

.number-form-count-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  padding: 0;
  border: 3px solid transparent;
  border-radius: 4px;
  background: transparent;
}

.number-form-count-minus:hover path {
  fill: #000000;
}

.number-form-count-minus:focus {
  border: 3px solid #82B3D3;
}

.number-form-count-minus:focus path {
  fill: #000000;
}

.number-form-count-minus:active path {
  fill: #000000;
  opacity: 20%;
}

.number-form-count-minus:active {
border: 3px solid transparent;
}

.number-form-count-plus:hover path {
  fill: #000000;
}

.number-form-count-plus:focus path {
  fill: #000000;
}

.number-form-count-plus:focus {
  border: 3px solid #82B3D3;

}

.number-form-count-plus:active path {
  fill: #000000;
  opacity: 20%;
}

.number-form-count-plus:active {
  border: 3px solid transparent;
}

.number-form-count-field {
  width: 31px;
  height: 48px;
  border: none;
  background: transparent;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  -webkit-appearance: none;
  text-align: center;
}

.number-form-count-field::-webkit-inner-spin-button,
.number-form-count-field::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

.number-form-count-field {
 -moz-appearance:textfield; /* для Firefox */
}

.tooltip {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 13px;

}

.tooltip-icon {
  width: 20px;
  height: 20px;
  color: #83B3D3;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #83B3D3;
}

.tooltip-text {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
display: none;
width: 216px;
border-radius: 10px;
font-size: 16px;
font-weight: 400;
line-height: 20px;
color: #FFFFFF;
background-color: #333333;
padding: 15px 18px 18px 22px;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: -6px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  background-color: #333;
}

.tooltip:hover .tooltip-text {
  display: block;
}

.search-form-button {
  font-family: 'PT Sans', 'Arial', sans-serif;
width: 577px;
height: 60px;
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-align: center;
border-radius: 10px;
background-color: #83B3D3;
margin: 0 auto;
cursor: pointer;
}

.search-form-button:hover {
  background-color: #68A2CA;
}

.search-form-button:focus {
  background-color: #68A2CA;
}

.search-form-button:active {
  color: #FFFFFF4D;
  background-color: #68A2CA;
}

  /* ! FOOTER */

.footer-container {
  display: flex;
  justify-content:center;
  align-items: center;
  width: 1060px;
  min-height: 120px;
  padding: 0 70px;
  background-color: #FFFFFF;
}

.footer-elements {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 1060px;
    min-height: 50px;
    padding: 40px 0 30px;
  }

.footer-social {
    min-width: 142px;
    min-height: 40px;
    display: flex;
    align-items: center;
  }

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    width: 142px;
    min-height: 40px;
    padding: 0;
    margin: 0;
  }

.footer-social-item {
    width: 47.33px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.footer-social-link {
    display: flex;
    align-items: center;
  }

.footer-social-link:hover path {
    fill: #68A2CA;
  }

  .footer-social-link:focus path {
    fill: #68A2CA;
  }

.footer-social-link:active path {
    fill: #68A2CA4D;
  }

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacts-phone {
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px;
color: #000;
text-align: center;
text-transform: uppercase;
text-decoration: none;
align-items: center;
  }

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: #7561574D;
}

.copyright {
  display: flex;
  align-items: center;
}

.copyright:hover path {
  fill: #756157;
}

.copyright:focus path {
  fill: #756157;
}

.copyright:active path {
  fill: #7561574D
}

/* ! СТРАНИЦА 2 HOTELS ! */

  /* ФИЛЬТРЫ */

.filter-area {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 412px;
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #3F5E72;
  margin-bottom: 50px;
}

.filter-content {
  width: 1060px;
  margin: 35px 70px 70px;
}
.filter-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1060px;
  margin-bottom: 40px;
}

.filter-header-title {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 8px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  min-width: 114px;
  min-height: 21px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #FFF;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 12px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-main {
  position: absolute;
  top: -8px;
}

.breadcrumbs-hotels {
  font-size: 16px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0;
text-align: left;
  color: #FFFFFF;
  width: 73px;
  height: 21px;
padding-left: 28.5px;
background-image: url("../images/icons/breadcrumbs-arrow.svg");
background-repeat: no-repeat;
background-position: center left 10px;
cursor: pointer;
}

.breadcrumbs-hotels:hover {
  color: #FFFFFF99;
}

.breadcrumbs-hotels:focus {
color:  #FFFFFF;
}

.breadcrumbs-hotels:active {
  color: #FFFFFF4D;
}

/* ! СЕКЦИЯ ФИЛЬТРОВ */

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1060px;
  min-height: 160px;
}

.catalog-hotels {
  display: flex;
  list-style-type: none;
  min-width: 1060px;
  min-height: 160px;
}

.catalog-filter  {
  display: grid;
  grid-template-columns: 370px 550px;
  justify-content: space-between;
  width: 1060px;
}

.catalog-col {
  display: flex;
gap: 70px;
}

.catalog-filter-group {
display: flex;
flex-direction: column;
gap: 32px;
margin: 0;
padding: 0;
border: 0;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  gap: 17px;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #FFFFFF;
  }

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-input:checked + .control-mark-box {
  background-image: url("../images/icons/control-tick.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.control-input:checked + .control-mark-radio {
  background-image: url("../images/icons/control-tick-radio.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.control-mark {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
}

.control-mark-box {
  border-radius: 4px;
}

.control-mark-radio {
  border-radius: 50%;
}

.control:hover .control-mark {
  opacity: 60%;
}

.control:focus .control-mark {
outline: 3px solid #83B3D3;
}

.control:active .control-mark {
opacity: 30%;
}

.control-input:disabled + .control-mark {
  background-color: #e5e5e5;
}

.control-label:hover {
  opacity: 60%;
}

.control-label:focus {
  color: #FFFFFF;
}

.control-label:active {
  opacity: 30%;
}

/* ! СЛАЙДЕР!*/

.slider-form-container {
width: 294px;
display: flex;
flex-direction: column;
border: none;
margin: 0;
padding: 0;
}

.slider-form-title {
  margin-bottom: 32px;
}

.slider-form-fields {
  width: 288px;
  gap: 2px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.slider-form-field {
  position: relative;
}

/*! ИНПУТЫ СЛАЙДЕРА */

.slider-range {
width: 143px;
height: 48px;
background-color: #F2F2F2;
border-style: none;
box-sizing: border-box;
font-size: 18px;
font-weight: 700;
}

.slider-range:hover {
  background-color: #E6E6E6;
}

.slider-range:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.slider-range:active {
  background-color: #F2F2F2;
  outline: 2px solid #000000;
}

.slider-text {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
font-size: 18px;
line-height: 24px;
color: #A9A9A9;
}

.slider-range-min {
border-radius: 4px 0 0 4px;
padding-left: 20px;
}

.slider-range-max {
border-radius:  0 4px 4px 0;
padding-left: 20px;
}

.slider-range::-webkit-inner-spin-button,
.slider-range::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* ! RANGE*/

.range-scale {
  position: relative;
  height: 4px;
  background-color: RGBA(255,255,255,0.3);
  border-radius: 5px;
}

.range-bar {
  position: absolute;
  right: 61px;
  left: 10px;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #FFFFFF;
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

/*! КНОПКИ ФОРМЫ */

.form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 191px;
  height: 104px;
  margin-top: 56px;
  margin-left: auto;
}

/* СОРТИРОВКА */

.sorting {
  display: flex;
  width: 1060px;
  min-height: 49px;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  margin-bottom: 40px;
}

.hotels-numbers {
font-size: 30px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0;
text-align: left;
margin-right: 200px;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 292px;
  margin-right: auto;
}


.select-control {
  width: 100%;
font: inherit;
font-size: 18px;
font-weight: 400;
line-height: 21px;
color: #333;
border: 2px solid #E5E5E5;
border-radius: 4px;
background-image: url("../images/icons/select-tick.svg");
background-repeat: no-repeat;
background-position: right 17px center;
appearance: none;
padding: 12px 16px;
padding-right: 131px;

}


.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:focus {
  border: 2px solid #68A2CA;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.option-text {
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0;
text-align: left;
color: #333333;
}

.cheap {
width: 141px;
height: 21px;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0;
text-align: left;
color: #333333;
padding-right: 131px;
background-image: url("../images/icons/select.svg");
background-repeat: no-repeat ;
background-size: 11.93px 7.02px;
background-position: center right 99.7px;
}

.button-icon-view {
  width: 160px;
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.button-icon {
  width: 48px;
  height: 48px;
  display: flex;
  border: 0;
  margin: 0;
  margin-right: 8px;
  padding: 0;
}

.button-icon-light {
  padding: 0;
  border-radius: 4px;
  border-style: none;
}

.button-icon:last-child {
  margin-right: 0;
}

.hotel-card-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
}

.catalog-filter-title,
.slider-form-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color:#FFFFFF;
  text-transform: capitalize;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-filter-item {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  color: #FFF;
}

.hotels-numbers {
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 36px;
color: #000;
text-transform: uppercase;
}

a.hotel-card-title { /* ! ВОПРОС: как точно писать несколько классов подряд? в теории и тренажерах информация не сошлась.
  сделал наугад, получилось удалить подчеркивание в названиях гостиниц, но не уверен, что оформление корректно */
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px;
color: #000;
text-decoration: none;
}

.hotel-card-subscription,
.hotel-card-price {
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 21px;
color: #333;
}

.hotels-searching {
  width: 1200px;
  /*min-height: 1235px;*/
  padding: 0 70px, 60px;
}

.hotels-search-result {
  display: flex;
  justify-content: space-between;

}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  width: 1060px;
  list-style-type: none;
  margin: 0;
  margin-bottom: 77px;
  padding: 0 70px;
  gap: 20px;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-image-link,
.hotel-card-title-link {
  grid-column: 1 / 3;
  text-decoration: none
}

.hotel-card-title-link {
font-size: 24px;
font-weight: 700;
line-height: 28px;
color: #000000;
text-align: left;
margin: 10px 0 15px;
}

.hotel-card-price {
  justify-self: end;
}


.rating-area {
display: flex;
justify-content: space-between;
align-items: center;
grid-column: 1 / 3;
}

.rating-stars {
  display: flex;
  height: 17px;
  background: url("../images/icons/rating-4.svg");
}

.rating-stars-5 {
  width: 114px;
}

.rating-stars-4 {
  width: 90px;
}

.rating-stars-3 {
  width: 66px;
}

.rating-stars-2 {
width: 42px;
}

.rating-stars-1 {
width: 18px;
}

.rating-number {
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0;
text-align: center;
text-transform: uppercase;
width: 140px;
height: 37px;
display: flex;
justify-content: center;
align-items: center;

border-radius: 4px;
background-color: #F2F2F2;
}

/* ПАГИНАЦИЯ */

.pagination-container {
  display: flex;
  width: 1060px;
  height: 60px;
  margin: 0 0 60px;
  padding: 0 70px;
  list-style-type: none;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #82B3D3;
}


.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: #FFFFFF4D;
  background-color: #82B3D3;
}

.pagination-clear {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  background-color: transparent;
}

.pagination-current {
  color:#000000;
  background-color: #F2F2F2;
}

.pagination-current:hover {
  color:#000000;
  background-color: #F2F2F2;
}

.pagination-current:focus {
  color:#000000;
  background-color: #F2F2F2;
}

.pagination-current:active {
  color:#000000;
  background-color: #F2F2F2;
}
